{% extends 'base.html' %}

{% block meta %}
    <title>Restore the Shore | Forum</title>
    <script>
        $(document).ready(function(){
            $.get(window.location.href + "json/", function (data) {
                for(i = 0; i < data.length; i++){
                    showPost(data[i]);
                }
            });

            function showPost(data){
                $("#forum-posts").append(
                    `
                        <div class="row" style="margin:5px;">
                            <div class="card" id="post-${data.pk}" style="outline:black;">
                               
                                <div class="card-body">
                                    <p>${data.fields.creator_name}</p>
                                    <hr>
                                    <img src="${data.fields.image}" class="post-image"/>
                                    <p class="card-content"> <b>${data.fields.creator_name}</b> ${data.fields.content}</p>
                                    <p> Posted on ${data.fields.date} </p>
                                </div>

                                <div class="card-footer text-muted"> 

                                    <a data-toggle="collapse" href="#comments-${data.pk}" role="button" aria-expanded="false" aria-controls="comments-${data.pk}">
                                        Show replies
                                    </a>

                                    <div class="collapse" id="comments-${data.pk}">
                                        <form id="new-comment-form-${data.pk}" method="POST">
                                            {% csrf_token %}

                                            <div id="comment-content-group" class="form-group">
                                                <input 
                                                    type="text" 
                                                    class="form-control" 
                                                    id="comment-content"
                                                    name="comment-content" 
                                                    placeholder="Write your comment here"
                                                />
                                            </div>

                                            <input type="submit" class="btn btn-primary" value="Submit" />
                                        </form>  
                                    </div>

                                    <script>
                                        $("#new-comment-form-${data.pk}").submit(function(e){
                                            e.preventDefault();

                                            $.post("/forum/add-comment/" + ${data.pk} + "/", {
                                                content: $("#comment-content").val()
                                            }).done(function(comment){
                                                appendComment(comment);

                                                const comments = document.getElementById("comments-${data.pk}");
                                                comments.insertAdjacentHTML("beforestart", "#comment-${comment.pk}-on-post-${data.fields.original_post}");
                                            });
                                        });
                                    </script>

                                </div>
                            </div>
                            
                        </div>
                    `
                );

                appendAllComments(data);
            } 

            function appendComment(comment){
                $(`#no-comment-${comment.fields.original_post}`).empty();

                $(`#comments-${comment.fields.original_post}`).prepend(
                    `
                        <div id="comment-${comment.pk}-on-post-${comment.fields.original_post}">
                            <p> <b>${comment.fields.creator_name}</b> ${comment.fields.content} </p>
                        </div>
                    `
                );
            }

            function appendAllComments(currentPost){
                $.get(window.location.href + "json-comments/" + currentPost.pk + "/", function(comments){
                    if (comments.length == 0) {
                        $(`#comments-${currentPost.pk}`).prepend(
                            `<p id="no-comment-${currentPost.pk}">No comments yet</p>`
                        );
                    }
                    else{
                        for (i = 0; i < comments.length; i++) {
                            appendComment(comments[i]);
                        }
                        
                    }
                });
            }

            $("#new-post-form").submit(function(e){
                e.preventDefault();

                $.post("/forum/add-post/", {
                    content: $("#content").val(),
                    image: $("#image").val()
                }).done(function(data){
                    showPost(data);

                    const posts = document.getElementById("forum-posts");
                    posts.insertAdjacentHTML("beforestart", `#post-${data.pk}`);
                });

                $("#staticBackdrop").modal("hide");
            });

        });
        
    </script>
    
{% endblock meta %}

{% block content %}
    <style type="text/css">
        .column {
            float: left;
            width: 33.33%;
        }

        #add-post-button{
            position: fixed;
            bottom: 5%;
            right: 5%;
            border-radius: 50%;
        }
    </style>

    <!-- Posts -->
    <div 
        class="forum-posts h-100 d-flex align-items-center justify-content-center" 
        id="forum-posts"
        style="flex-direction:column-reverse;"
    >
    </div>

    <!-- Create New Post Modal Button -->
    <button
        id="add-post-button"
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
    >
    +
    </button>

    <!-- Create New Post Modal -->
    <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add A New Post</h1>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
            ></button>
            </div>

            <div class="modal-body">
                <form id="new-post-form" method="POST">
                    {% csrf_token %}

                    <div id="image-group" class="form-group">
                        <label for="image">Image</label>
                        <input
                            type="url"
                            class="form-control"
                            id="image"
                            onchange="loadFile(event)"
                            placeholder="Enter image link"
                        />
 
                        <div>
                            <br>
                            <img id="output" style="max-width: 100%; height: auto;"/>
                        </div>
                        <script>
                            var loadFile = function(event) {
                                var output = document.getElementById("output");
                                var link = document.getElementById("image").value;
                                output.src = link;
                            };
                        </script>
                    </div>

                    <div id="content-group" class="form-group">
                        <label for="content">Content</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="content"
                            name="content" 
                            placeholder="Write your text here"
                        />
                    </div>

                    <br>

                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </form>
            </div>
        </div>
        </div>
    </div>

{% endblock content %}