{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script src="https://cdn.tailwindcss.com"></script>
{% endblock meta %}

{% block content %}
<div class="flex">
    <div class = "flex w-full h-screen bg-gradient-to-r from-cyan-500 to-blue-500 -mt-9">
    <div class="grid h-screen flex w-full justify-center fixed bg-black bg-opacity-10 z-100 overflow-y-auto pb-5">
        <div class= "bg-white shadow-lg lg:p-10 p-8 rounded-2xl lg:mr-16 lg:ml-16 lg:mx-28 mt-5 ml-4 mr-4 mb-4">
            <a href="/create-event/show/">
                <button class="inline-flex items-center px-4 py-2 font-semibold bg-indigo-500 text-white rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out focus:shadow-outline focus:outline-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
                    </svg>
                    Kembali
                </button>
            </a>
            <div class="flex lg:flex-row flex-col lg:gap-x-7 gap-y-3 mt-3">
                <div class="flex flex-col lg:gap-y-3 w-full gap-y-4">
                    <div class="flex flex-col gap-y-1">
                    <label for="namaEvent" class="flex text-md font-bold flex">Nama Event</label>
                    <div class="w-full px-2 py-1 rounded-md border border-gray-200 text-md focus:outline-none focus:border-gray-400 focus:bg-white">{{info.namaEvent}}</div>
                    </div>

                    <div class="flex flex-col gap-y-1">
                    <label for="namaPantai" class="text-md font-bold">Nama Pantai</label>
                    <div class="w-full px-2 py-1 rounded-md border border-gray-200 text-md focus:outline-none focus:border-gray-400 focus:bg-white">{{info.namaPantai}}</div>
                    </div>

                    <div class="flex flex-col gap-y-1">
                    <label for="alamatPantai" class="text-md font-bold">Alamat Pantai</label>
                    <div class="w-full px-2 py-1 rounded-md border border-gray-200 text-md focus:outline-none focus:border-gray-400 focus:bg-white">{{info.alamatPantai}}</div>
                    </div>

                    <div class="flex flex-col gap-y-1">
                    <label for="jumlahPartisipan" class="text-md font-bold">Jumlah Partisipan</label>
                    <div class="w-full px-2 py-1 rounded-md border border-gray-200 text-md focus:outline-none focus:border-gray-400 focus:bg-white">{{info.jumlahPartisipan}}</div>
                    </div>

                    <div class="flex gap-x-5 items-center">
                    <label for="tanggalMulai" class="text-md font-bold">Tanggal Mulai: </label>
                    <div class="px-2 py-1 rounded-md border border-gray-200 text-md focus:outline-none focus:border-gray-400 focus:bg-white">{{info.tanggalMulai}}</div>
                    </div>

                    <div class="flex gap-x-5 items-center">
                    <label for="tanggalAkhir" class="text-md font-bold">Tanggal Akhir: </label>
                    <div class="px-2 py-1 rounded-md border border-gray-200 text-md focus:outline-none focus:border-gray-400 focus:bg-white">{{info.tanggalAkhir}}</div>
                    </div>
                </div>
                
                <div class="flex flex-col lg:gap-y-3 w-full gap-y-4">
                    <div class="flex flex-col gap-y-1">
                        <label for="fotoPantai" class="text-md font-bold">Foto Pantai</label>
                        <div class="flex w-full justify-center">
                            <img src="{{info.fotoPantai}}" class="flex w-[90%] mt-1 rounded-md p-2 border border-slate-400" alt="Gambar tidak ditemukan"/>
                        </div>
                    </div>
                    <div class="flex flex-col gap-y-1">
                        <label for="deskripsi" class="text-md font-bold">Deskripsi</label>
                        <div class="px-2 py-1 rounded-md border border-gray-200 text-md focus:outline-none focus:border-gray-400 focus:bg-white">{{info.deskripsi}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}